* {
   margin: 0;
   padding:0;
}

body {
  background-image: url(../img/fondo.gif);
  background-repeat: repeat;
}

header, .main, footer {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}
.main{
  /*border: 1px solid gray;*/
  top: ;
}

header nav {
  background: #FFE559;
   overflow: hidden;
}

header nav ul {
  list-style:none;
}

header  nav ul li {
  float:left;
}

header nav ul li a, footer ul li a {
  padding: 10px 20px;
  display:block;
  text-decoration: none;
}

footer ul li {
  float:left;
  list-style: none;
}

.main .articles {
  width: 70%;
  float: left;
  
}

.cabecera{
   width: 1000px;
}

aside {
  width:28%;
  float: right;
}

footer{
  background: red;
  top:50px;
 /* border: 1px solid gray;*/
}

.card{
  
  max-width: 500px;
  height: auto;
  background: lightblue;

}

.text{
  background-color: #789FBF;
  height: 15px;
  padding: 5px;
  width: auto;
}

.content{
  background-color: white;
  height: auto;
  padding: 10px;
  width: auto;
}

input{
  display: inline-block;
}

div p u{
  color: blue;
}

.articles{
  padding:0px 5px;
}

ul li{
  list-style-type: none;
}

.image{
  padding: 5px;
}

div p{
  margin: 5px;
}

footer ul li a{
  color: green;
}